# Symfony directories
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
!/web/uploads/profile_pics
/web/uploads/profile_pics/*
!web/uploads/profile_pics/.gitkeep

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/config/parameters.php

# Composer
auth.json

# PhpStorm
.idea

# Sublime
.DS_Store